{% extends "recipe_layout.html" %}

{% block base_top_scripts %}
<script>
    var append_prep_item = [
        {
            html: "<i class='fas fa-plus'></i>",
            cls: "fg-blue",
            onclick: "append_prep"
        }
    ]
    var append_ingredient_item = [
        {
            html: "<i class='fas fa-plus'></i>",
            cls: "fg-blue",
            onclick: "append_ingredient"
        }
    ]

</script>
{% endblock %}

<!-- Title of the page -->
{% block title %}
    Add recipe
{% endblock %}

{% block form_start %}
    <form action="/recipes/add" method="post" id="ingredientForm">
{% endblock %}

{% block form_end %}
    </form>
{% endblock %}

<!-- Picture of the food! -->
{% block image %}
    <div class="form-group">
        <div class="img-container rounded drop-shadow">
            <img src={{ url_for('static', filename='img/food.jpg') }}>
            <div class="image-overlay">
                <div class="h2">Change picture</div>
                <p>
                    Click here to upload a new picture!
                </p>
            </div>
        </div>
    </div>
{% endblock %}

<!-- Main heading of a recipe page -->
{% block main_heading %}
    <div class="form-group">
        <input data-role="text" class="metro-input" name="heading" placeholder="Heading">
    </div>
{% endblock %}

<!-- 
Row with items for how tasty, how difficult the recipe was. Note <li>!
-->
{% block summary_row %}
    <div class="cell-sm" style="min-width:100px;">
        <label>Difficulty</label>
        <input type="text" data-role="spinner" data-min-value="0" data-max-value="5" name="difficulty">
    </div>
    <div class="cell-sm">
        <label>Taste</label>
        <input type="text" data-role="spinner" data-min-value="0" data-max-value="5" name="taste">
    </div>
    <div class="cell-sm">
        <label>Time</label>
        <input data-role="timepicker" data-seconds="false" data-value="00:00" name="time">
    </div>
{% endblock %}

<!-- 
Short information about the recipe, will be just under the summary_row
-->
{% block short_info %}
    <div class="form-group">
        <textarea data-role="textarea" data-auto-size="false" class="metro-input" name="short_info" placeholder="Heading" style="min-height:70px; height: 85px;"></textarea>
    </div>
{% endblock %}

<!-- 
Cell for buttons to add prep steps or ingredients.
-->
{% block prep_and_ingredient_buttons %}
<!--
<div class="cell-sm">
        <button type="button" class="button primary" onclick="open_dialog_box()">Open dialog</button>
</div>
<div class="cell-sm">
        <button type="button" class="button primary" onclick="open_dialog_box()">Open dialog</button>
</div>
-->

<div class="cell-sm" style="display:flex;justify-content:center">
    <button type="button" class="button primary large" onclick="open_dialog_box()">Add preparation step</button>
</div>
<div class="cell-sm" style="display:flex;justify-content:center">
    <button type="button" class="button primary large" onclick="open_dialog_box()">Add ingredient</button>
</div>

{% endblock %}
<!-- 
Preparation cell, to the left of the recipe.
-->
{% block prep %}
    <h5>Preparations</h5>
    <input type="text" data-role="input" data-clear-button="false" data-custom-buttons="append_prep_item" name="prep_input" id="prepInputBox" placeholder="Add new step">
    <ul class="items-list" id="prep_ul">
    </ul>

{% endblock %}

<!-- 
List with ingredients
-->
{% block ingredients %}
    <h5>Ingredients</h5>
    <div class="dialog" data-role="dialog" id="ingredientsDialogBox">
        <div class="dialog-title">Add new ingredient</div>
        <div class="dialog-content">
            <div class="form-group">
                <div class="row">
                    <div class="cell">
                        <input type="text" data-role="input" id="ingredientInputBox" placeholder="Ingredient name" data-autocomplete="">
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <p id="amount_unit">Amount:</p>
                        <input type="text" data-role="spinner" data-min-value="0" name="difficulty">
                    </div>
                    <div class="cell">
                        <div class="form-group" style="max-width: 280px">
                            <p>Unit of measurement:</p>
                            <select data-role="select" name="unit" placeholder="Special notes">
                                <optgroup label="Volume">
                                    <option value="l">Liters</option>
                                    <option value="dl">Deciliters</option>
                                    <option value="cl">Centiliters</option>
                                </optgroup>
                                <optgroup label="Mass">
                                    <option value="kg">Kilogram</option>
                                    <option value="hg">Hektogram</option>
                                    <option value="g">Gram</option>
                                </optgroup>
                                <optgroup label="Common measures">
                                    <option value="tbsp">Tablespoon (15ml)</option>
                                    <option value="tsp">Teaspoon (5ml)</option>
                                    <option value="pcs">Pieces</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dialog-actions">
            <button class="button js-dialog-close" onclick="check_ingredient()">Add ingredient</button>
            <button class="button primary js-dialog-close">Cancel</button>
        </div>
    </div>

    <ul class="items-list" id="ingredient_ul">
    </ul>
{% endblock %}

<!-- 
List with all the steps that needs to be done.
-->
{% block step_list %}
    <li>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type
        specimen book.
    </li>
    <li>
        Contrary to popular belief, Lorem Ipsum is not simply random text.
        It has roots in a piece of classical Latin literature from 45 BC,
        making it over 2000 years old.
    </li>
    <li>
        There are many variations of passages of Lorem Ipsum available,
        but the majority have suffered alteration in some form, by injected
        humour, or randomised words which don't look even slightly believable.
        If you are going to use a passage of Lorem Ipsum, you need to be sure
        there isn't anything embarrassing hidden in the middle of text.
    </li>
    <li>
        There are many variations of passages of Lorem Ipsum available,
        but the majority have suffered alteration in some form, by injected
        humour, or randomised words which don't look even slightly believable.
        If you are going to use a passage of Lorem Ipsum, you need to be sure
        there isn't anything embarrassing hidden in the middle of text.
    </li>
{% endblock %}

{% block submit %}
    <div class="cell">
        <div class="d-flex flex-justify-center">
            <button type="button" class="button primary large shadowed" style="margin: 20px; width: 30%" onClick="submit_form()">Add recipe</button>
        </div>
    </div>
{% endblock %}

<!-- 
Scripts!
-->
{% block base_bottom_scripts %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script>
    function open_dialog_box(){
        // Opens up the dialog
        Metro.dialog.open('#ingredientsDialogBox');
    }

    function create_span(span_class, text=""){
        let span = document.createElement("span");
        span.className = span_class;
        if (text != ""){
            span.textContent = text;
        }
        return span;
    }

    function add_remove_button(element){
        remove_button = create_span("second-action fas fa-times fg-red");
        remove_button.onclick = function() { console.log(this.parentElement.remove()); };
        element.appendChild(remove_button);
    }

    function create_list_element(text, amount="", unit=""){
        // Creating a list item
        let element = document.createElement("li")

        // Creating a span for 'label'. If list-item should be an ingredient, also put amount and unit as second-label
        element.appendChild(create_span("label", text))
        if (amount != ""){
            element.appendChild(create_span("second-label", amount + " " + unit));
        }

        // Add a button that enables it to remove the list-item
        add_remove_button(element);
        return element;
    }

    // Append a new LI item to the UL
    function append_prep(){
        // this refers to the button that is pressed, the parent of this button has a sibling which is the actual input-node.
        // Get the text from this (the current input field) and set it to the newly created input field.
        text = this.parentElement.previousSibling.value;

        // Remove the text in this, text will be "moved" to the LI under it.
        this.parentElement.previousSibling.value = "";

        // Set focus to the input field on top. Easier to append more LIs
        this.parentElement.previousSibling.focus();

        // function to create a new input node
        list_item = create_list_element(text);

        // Append the new node to the UL. Inserting before childElementCount would put the new element in the bottom.
        // We want to put the new element above "this" but under previously created inputs, thus -1.
        $("#prep_ul").append(list_item);
    }

    function ingredient_callback_ok(response){
        if (response == true){
            list_item = create_list_element(ingredient_name, 4, "msk");

            // Must use [0] as $("#ingredient_ul") returns a list with only one value
            $("#ingredient_ul")[0].append(list_item)
            
            // Clear the input box
            $("#ingredientInputBox").val("");
        }
        else{
                alert(ingredient_name + " was not found!");
            }
    }

    function ingredient_callback_nok(response){
        alert("Internal Server Error!");
    }

    function check_ingredient(){
        ingredient_name = $("#ingredientInputBox").val();
        $.ajax({
            method: "GET",
            url: "/ingredients/check?q=" + ingredient_name,
        }).then(ingredient_callback_ok, ingredient_callback_nok);
    }

    // Append a new LI item to the UL for ingredients. Values need to be verified against the database first.
    // Using an Ajax-call to check the value in the text input when trying to add the new LI.
    $("#ingredientInputBox").keyup(function(event){
        input_el = Metro.getPlugin("#ingredientInputBox",'input');

        if (event.keyCode === 13) {
            append_ingredient();
        }
        if(this.value.length >= 1){
            $.get("/ingredients?q=" + this.value, function(ingredients){
                console.log(ingredients);
                input_el.autocomplete = ingredients;
            })
        }
    })

    function submit_form(){
        document.getElementById("ingredientForm").submit();
    }

</script>
{% endblock %}
