{% extends "base_layout.html" %}

{% block title %}
    Add ingredient
{% endblock %}

{% block main %}
    <h1 class="text-center">Add a new ingredient</h1>
    <div class="d-flex flex-justify-center">
        <form action="/ingredients/add" method="post">
            <div class="form-group" style="max-width: 280px">
                <p>Name:</p>
                <input type="text" data-role="input" name="name" placeholder="Name of ingredient" pattern="[A-Za-z]+">
            </div>
            <div class="form-group" style="max-width: 280px">
                <p>Unit of measurement:</p>
                <select data-role="select" name="unit" placeholder="Special notes">
                    <optgroup label="Volume">
                        <option value="l">Liters</option>
                        <option value="dl">Deciliters</option>
                        <option value="cl">Centiliters</option>
                    </optgroup>
                    <optgroup label="Mass">
                        <option value="kg">Kilogram</option>
                        <option value="hg">Hektogram</option>
                        <option value="g">Gram</option>
                    </optgroup>
                    <optgroup label="Common measures">
                        <option value="tbsp">Tablespoon (15ml)</option>
                        <option value="tsp">Teaspoon (5ml)</option>
                        <option value="pcs">Pieces</option>
                    </optgroup>
                </select>
            </div>
            <div class="form-group" style="max-width: 280px">
                <p>Special note:</p>
                <input type="text" data-role="input" name="note" placeholder="Special notes">
            </div>
            <div class="form-group" style="max-width: 280px">
                <input type="hidden" value="None" id="ingredient_type" name="type">
                <p>What kind ingredient:</p>
                <button type="button" class="button primary" onclick="vegetableButton()" id="vegetable" style="margin-top: 2%;">
                    <i class="fas fa-carrot" style="padding-right: 10%;"></i>
                    Vegetables
                </button>
                <button type="button" class="button primary" onclick="dairyButton()" id="dairy" style="margin-top: 2%;">
                    <i class="fas fa-glass-whiskey" style="padding-right: 10%;"></i>
                    Dairy
                </button>
                <button type="button" class="button primary" onclick="meatButton()" id="meat" style="margin-top: 2%;">
                    <i class="fas fa-bacon" style="padding-right: 10%;"></i>
                    Meat
                </button>
            </div>
            <div class="form-group">
                <input class="button primary" type="submit" value="Add" disabled id="submit" style="width: 280px;margin-bottom: 20px;">
            </div>
        </form>
    </div>
    <script>
        veg_button = document.querySelector("#vegetable")
        dairy_button = document.querySelector("#dairy")
        meat_button = document.querySelector("#meat")
        submit_button = document.querySelector("#submit")
        name_field = document.querySelector('[name="name"]')
        note_field = document.querySelector('[name="note"]')
        hidden_input = document.querySelector("#ingredient_type")

        name_field.onkeyup = function(){
            activateSubmit();
        }
        note_field.onkeyup = function(){
            activateSubmit();
        }

        function set_as_input(button){
            hidden_input.value = button.id;
        }

        function activateSubmit(){
            if(
                name_field.value != ""
                (
                    veg_button.isSelected === true ||
                    dairy_button.isSelected === true ||
                    meat_button.isSelected === true
                )
            )
            {
                submit_button.disabled = false;
            }
            else
            {
                submit_button.disabled = true;
            }
        }
        function setFocus(button, shadow){
            //button.style.backgroundColor="#EFB06B";
            //button.style.border = "3px solid #F2F7F2"
            button.style.boxShadow = "rgba(0, 0, 0, 0.5) " + shadow + "px 8px 4px 0px";
            button.isSelected = true;
            hidden_input.value = button.id;
        }
        function unsetFocus(button){
            //button.style.border = "1px solid transparent"
            button.style.boxShadow = ""
            button.isSelected = false;
        }

        function vegetableButton(){
            setFocus(veg_button, -2);
            unsetFocus(dairy_button)
            unsetFocus(meat_button);
            activateSubmit();
        }
        function dairyButton(){
            unsetFocus(veg_button);
            setFocus(dairy_button, 0)
            unsetFocus(meat_button);
            activateSubmit();
        }
        function meatButton(){
            unsetFocus(veg_button);
            unsetFocus(dairy_button)
            setFocus(meat_button, 2);
            activateSubmit();
        }
    </script>
{% endblock %}