{% extends "base_layout.html" %}

{% block title %}
    Add ingredient
{% endblock %}

{% block main %}
    <h1>This is where you add ingredients!</h1>
    <form action="/ingredients/add" method="post">
        <input type="text" name="name" placeholder="Name of ingredient">
        <select name="type">
            <option value="vegetable">Vegetable</option>
            <option value="dairy">Dairy</option>
            <option value="meat">Meat</option>
          </select>
          <input type="text" name="note" placeholder="Special notes">
        <input type="submit" value="Add">
    </form>
{% endblock %}