{% extends "base_layout.html" %}

{% block title %}
    Cookbook
{% endblock %}

{% block main %}

    <p>
        This is the first part of my homepage! It will contains "cards" with different recepies...!
    </p>
    <div class="card image-header" style="width: 30%;">
        <div class="card-header fg-white"
                style="background-image: url(http://lorempixel.com/1000/600/)">
            Journey To Mountains
        </div>
        <div class="card-content p-2">
            <p class="fg-gray">Posted on January 21, 2015</p>
            Quisque eget vestibulum nulla. Quisque quis dui quis ex
            ultricies efficitur vitae non felis. Phasellus quis nibh
            hendrerit...
        </div>
        <div class="card-footer">
            <button class="button secondary">Read More</button>
        </div>
    </div>
{% endblock %}