{% extends "base_layout.html" %}

{% block title %}
    Cookbook
{% endblock %}

{% block heading %}
<h1 class="text-center">Welcome</h1>
{% endblock %}

{% block main %}
<div class="row">
    <div class="cell">
        <p>
            This is my final project for the course CS50 at Harvard. It is a cookbook with the main idea
            of being personal, extensible and being able to store and adapt your personal recipes.
        </p>
        <p>
            You can add ingredients and recipes you like and then browse all recipes and choose one or use the "Randomize"-function.
        </p>
    </div>
</div>
{% endblock %}