{% extends "base_layout.html" %}

{% block base_top_scripts %}

{% endblock %}

{% block title %}
    Show recipe
{% endblock %}

{% block main %}
<div class="grid">
    <!-- Heading -->
    <div class="row">
        <div class="cell">
            <h1 class="text-center">{{ name }}</h1>
        </div>
    </div>
    <!-- Middle row with inputs -->
    <div class="row">
        <!-- Left side, difficulty, taste and time and steps -->
        <div class="cell">
            <!-- difficulty, taste and time indicators -->
            <div class="row">
                <div class="cell">
                    <div class="form-group">
                        <label>Difficulty</label>
                        <input type="text" data-role="spinner" data-min-value="1" data-max-value="5" name="difficulty">
                    </div>
                </div>
                <div class="cell">
                    <div class="form-group">
                        <label>Taste</label>
                        <input type="text" data-role="spinner" data-min-value="1" data-max-value="5" name="taste">
                    </div>
                </div>
                <div class="cell">
                    <div class="form-group">
                        <label>Time</label>
                        <input data-role="timepicker" data-seconds="false" data-value="00:00" name="time">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    <h1 class="text-center">Recipe steps</h1>
                    <ul id="recipeStepList" class="step-list">
                    </ul>
                </div>
            </div>
        </div>
        <!-- Right side with preps and ingredients -->
        <div class="cell">
            <div class="row">
                <div class="cell">
                    <h1 class="text-center">Preparations</h1>
                    <ul id="prep_ul" class="items-list">
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    <h1 class="text-center">Ingredients</h1>
                    <ul id="ingredient_ul" class="items-list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block base_bottom_scripts %}
<script>
    function add_ingredients(){
        ingredients_array = {{ ingredients|safe }};
        console.log("Ingredients: ");
        console.log(ingredients_array);
    }

    function add_steps(){
        steps_array = {{ steps|safe }};
        console.log("Steps: ");
        console.log(steps_array);
    }

    function add_preps(){
        preps_array = {{ preps|safe }};
        console.log("Preps: ");
        console.log(preps_array);
    }

    function add_statusbar(){
        difficulty = {{ difficulty|safe }};
        taste = {{ taste|safe }};
        time = "{{ time|safe }}";
        console.log("Statuses: ");
        console.log(difficulty, taste, time);
    }

    add_ingredients();
    add_steps();
    add_preps();
    add_statusbar();
</script>
{% endblock %}
