{% extends "recipe_layout.html" %}

<!-- Title of the page -->
{% block title %}
    Test
{% endblock %}

<!-- Picture of the food! -->
{% block image %}
    Sätter en fin bild här
{% endblock %}

<!-- Main heading of a recipe page -->
{% block main_heading %}
    <h2>
        Blomkålspaj med broccoligratäng och köttfärsbullar
    </h2>
{% endblock %}

<!-- 
Row with items for how tasty, how difficult the recipe was. Note <li>!
-->
{% block summary_row %}
    <ul class="group-list horizontal">
        <li>Taste</li>
        <li>Difficulty</li>
        <li>Time</li>
    </ul>
{% endblock %}

<!-- 
Short information about the recipe, will be just under the summary_row
-->
{% block short_info %}
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
{% endblock %}

<!-- 
Preparation cell, to the left of the recipe.
-->
{% block prep %}
    <h5 class="text-center">Prep</h5>
    <ul>
        <li>Sätt ungen på 230 grader</li>
        <li>Ta fram köttfärsen dagen innan</li>
    </ul>
{% endblock %}

<!-- 
List with ingredients
-->
{% block ingredients %}
    <h5 class="text-center">Ingredients</h5>
    <ul>
        <li>Test</li>
        <li>Supertest</li>
    </ul>
{% endblock %}

<!-- 
List with all the steps that needs to be done.
-->
{% block step_list %}
<ul class="step-list">
    <li>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type
        specimen book.
    </li>
    <li>
        Contrary to popular belief, Lorem Ipsum is not simply random text.
        It has roots in a piece of classical Latin literature from 45 BC,
        making it over 2000 years old.
    </li>
    <li>
        There are many variations of passages of Lorem Ipsum available,
        but the majority have suffered alteration in some form, by injected
        humour, or randomised words which don't look even slightly believable.
        If you are going to use a passage of Lorem Ipsum, you need to be sure
        there isn't anything embarrassing hidden in the middle of text.
    </li>
    <li>
        There are many variations of passages of Lorem Ipsum available,
        but the majority have suffered alteration in some form, by injected
        humour, or randomised words which don't look even slightly believable.
        If you are going to use a passage of Lorem Ipsum, you need to be sure
        there isn't anything embarrassing hidden in the middle of text.
    </li>
</ul>
{% endblock %}

<!-- 
Scripts!
-->
{% block scripts %}

{% endblock %}