{% extends "base_layout.html" %}

{% block main %}
    {% block form_start %}
    {% endblock %}
    <div class="grid">
        <div class="row flex-align-center" style="margin-top: 6px;">
            <div class="cell-sm-5">
                {#
                    This is where the picture for the recipe will be placed.
                #}
                {% block image %}{% endblock %}
            </div>
            <div class="cell-sm-7">
                <div class="grid">
                    <div class="row">
                        <div class="cell-sm">
                            {#
                                This is the main heading of the recipe.
                            #}
                            {% block main_heading %}{% endblock %}
                        </div>
                    </div>
                    <div class="row flex-align-center">
                            {#
                                This is a summary row where some addition information will be
                                presented, such as difficulty, taste and time consumption.
                            #}
                            {% block summary_row %}{% endblock %}
                    </div>
                    <div class="row">
                        <div class="cell-sm">
                            {#
                                This is some additional short information about the recipe.
                                Might not always be needed?
                            #}
                            {% block short_info %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="cell-4">
                <div class="row">
                    <div class="cell">
                        {#
                            This is a list of steps that should be done before starting
                            to work with the recipe! Things such as starting the oven...
                        #}
                        {% block prep %}{% endblock %}
                    </div>
                </div>
                <div class="row">
                    <div class="cell">
                        {#
                            This is a list of all ingredients.
                        #}
                        {% block ingredients %}{% endblock %}
                    </div>
                </div>
            </div>
            <div class="cell-8">
                <div class="row">
                    <div class="cell">
                        {#
                            This is the main list of steps in the recipe.
                            How to mix/prepare different ingredients.
                        #}
                        {% block step_list %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 6px;">
            {% block submit %}
            {% endblock %}
        </div>
        {% block form_end %}
        {% endblock %}
    </div>
{% endblock %}