{% extends "layout.html" %}

{% block title %}
    Cookbook
{% endblock %}

{% block main %}
<div class="grid">
    <div class="row">
        <div class="cell-5">
            Sätter en fin bild här
        </div>
        <div class="cell-7">
            <div class="row">
                <div class="cell">
                    <h2 class="text-center">
                        Blomkålspaj med broccoligratäng och köttfärsbullar
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    <ul class="group-list horizontal">
                        <li>Taste</li>
                        <li>Difficulty</li>
                        <li>Something more</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="cell-4" style="background-color: rgb(28, 228, 111);">
            <div class="row">
                <div class="cell">
                    <h5 class="text-center">Prep</h5>
                    <ul>
                        <li>Sätt ungen på 220 grader</li>
                        <li>Ta fram köttfärsen dagen innan</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="cell">
                    <h5 class="text-center">Ingredients</h5>
                    <ul>
                        <li>Test</li>
                        <li>Supertest</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cell-8" style="background-color: rgb(185, 228, 28);">
            <div class="row">
                <div class="cell">
                    <ul class="step-list">
                        <li>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book.
                        </li>
                        <li>
                            Contrary to popular belief, Lorem Ipsum is not simply random text.
                            It has roots in a piece of classical Latin literature from 45 BC,
                            making it over 2000 years old.
                        </li>
                        <li>
                            There are many variations of passages of Lorem Ipsum available,
                            but the majority have suffered alteration in some form, by injected
                            humour, or randomised words which don't look even slightly believable.
                            If you are going to use a passage of Lorem Ipsum, you need to be sure
                            there isn't anything embarrassing hidden in the middle of text.
                        </li>
                        <li>
                            There are many variations of passages of Lorem Ipsum available,
                            but the majority have suffered alteration in some form, by injected
                            humour, or randomised words which don't look even slightly believable.
                            If you are going to use a passage of Lorem Ipsum, you need to be sure
                            there isn't anything embarrassing hidden in the middle of text.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}