{% extends "layout.html" %}

{% block title %}
    Cookbook
{% endblock %}

{% block main %}
<div class="container">
    <div class="row flex-align-start">
        <div class="cell">1</div>
        <div class="cell">2</div>
        <div class="cell">3</div>
    </div>
    <br/>
    <div class="row flex-align-center">
        <div class="cell">4</div>
        <div class="cell">5</div>
        <div class="cell">6</div>
    </div>
    <br />
    <div class="row flex-align-end">
        <div class="cell">7</div>
        <div class="cell">8</div>
        <div class="cell">9</div>
    </div>
</div>

{% endblock %}